<VirtualHost *:80>
	ServerName cava.zgib.net
	ServerAlias cal.cuems.org *.cava.zgib.net
	ServerAdmin rkd@zgib.net

	DocumentRoot /var/www/

	RewriteEngine On
	#RewriteRule /.* - [last]
	#RewriteRule / /cal [redirect]
	Alias /media /usr/share/pyshared/django/contrib/admin/media/
	Alias /static /srv/cava/static/
	Alias /robots.txt /srv/cava/static/robots.txt
	Alias /stats  /srv/cava/stats/

	#ScriptAliasMatch /(.*) /srv/cava/cgi/cgi.cgi/$1
	ScriptAliasMatch /cgi/(.*) /srv/cava/cgi/cgi.cgi/$1
	WSGIScriptAlias / /srv/cava/proj/run.wsgi
	SuexecUserGroup richard richard

	<Directory /srv/cava/>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride FileInfo
		Order allow,deny
		allow from all
		Options +ExecCGI
		AddHandler cgi-script .cgi
	</Directory>

</VirtualHost>

