{% extends "cava/calbase.html" %}

{% block title %}About this calendar {% endblock title %}
{% block bodytitle %} {% endblock bodytitle %}

{% block body %}
<span class="title">About this site</span><p>

This site is a test calendar for CAVA.<p>

<b>Summary of features</b><p>
<ul>
<li>You can see <a href="{% url cal.views.month year=2011 month=11 %}">all ranks
    at once</a>.</li>
<li>You can also see just the <a href="{% url cal.views.month year=2011 month=11 %}?rank_id=1">month view</a> for one rank</li>
    <ul><li>On the month view, hover over "AM" or "PM" to show full
    crew.</li></ul>
<li>These views show a few days before and after, so you don't have to
    go switching pages so often.</li>
<li>Can <a href="{% url cal.views.search%}">search</a> for all of your
    shifts (useful for a historical record).</li>
<li><a href="{% url cal.views.highlight %}">Highlight</a> your name in
    the schedule.</li>
<li><a href="{% url cal.export.ical %}">Export</a> the schedule to
    your own calendar, such as Google Calendar or iCal.</li>
<li>There is a <a href="{% url cal.views.mobile %}">mobile</a> version
    of most of these things.</li>
<li>Can view a history of when shifts are edited:</li><ul>
  <li>A <a href="{% url cal.views.log%}">full history</a> of all changes.</li>
  <li>... or a log of <a href="{% url cal.views.shift shift_id=30594 rank_id=1%}">individual shifts</a>.</li></ul>
<li>You can look at various statistics about exactly how much time you
    have been on:</li>
    <ul>
    <li>Search for <a href="{% url cal.views.time_person %}">how many
        hours you have been on</a>.</li>
    <li>Make a <a href="{% url cal.views.time_histogram %}">histogram</a>
        of the times you are typically on.</li>
    <li>Make a count of <a href="{% url cal.views.time_count %}">how
        many hours different people have been on</a> in a time interval.</li>
    </ul>
</ul>


<b>Why does this exist?</b>  Because darst is a really lazy grad
student.  It was mostly an excuse for em to learn something new.  If
it is used or not is not so important, but as long it's being made,
someone might as well use it.  Plus, it's more fun to make it <p>

<b>I like this site.  What should I do?</b>
<ul>
<li>Use it.</li>
<li>Tell your friends in CAVA about it (otherwise they won't know...).</li>
<li>Send reports of problems or improvements to darst.</li>
</ul>

<b>Why can everyone on the Internet see this?</b>  Because if you
couldn't see it now, you couldn't see what it is like.  It has a
permissions and groups system and is just waiting for it to be
enabled.  Darst can selectively block out certain people's names.<p>

<b>I noticed something wrong / a bug.</b>  Please email or
tell <a href="mailto:rkd@zgib.net">darst</a> and it will be checked
on.  This is still under development, so problems are expected.<p>

<b>Is the schedule data in this calendar up to date?</b>
<ul>
<li>It is updated from the main CAVA calendar every fifteen minutes
  (when minute % 15 ==7o), so it is recent enough for most use.</li>
<li>You can edit this calendar (with an account+permissions) and the
  changes will be pushed to the main calendar.</li>
<li>Thus, it would be possible to use both calendars at the same
  time.</i>
</ul>
<p>

<b>So I can use this calendar to check my shifts, instead of the
  official calendar?</b>  Practically speaking, yes.  I can't promise
  yet that this calendar is reliable enough to use, but I think it is.
  So far it seems to work just fine, and if I notice anything wrong,
  I'll fix it quickly.<p>

<b>Why is this calendar better?</b>  I can think of these advantages:
<ul>
<li>Better data display - see everyone on one page, and some other
  nice user interface improvements</li>
<li>You can log in with your google account (don't have to remember
  another username/password) and can stay logged in longer (don't have
  to log in again every day)</li>
<li>It would be better if you are the personnel officer, but that
  doesn't apply to most people.</li>
<li>It tracks changes by who made them.  That may someday make it
  possible for everyone to edit the calendar again - if there is a
  way to determine responsibility after the fact, people can have
  more leeway to do their own thing.</li>
<li>Doesn't use Google Analytics to track you.</li>
</ul><p>

<b>What is on the to-do list / yet to be improved with this
calendar?</b>
<ul>
<li>The syncing could be made more reliable.  Right now it works
  well, but if it stopped working we wouldn't immediately know.</li>
<li>Could be moved to commercial hosting.</li>
<li>The design and navigation could use a bit of an overhaul.</li>
<li>Enough people need to sign up for accounts that the permission
  system can be enabled.</li>
<li>...</li>
<li>...</li>
</ul>

<b>Will this calendar be official someday?</b>  I'm not sure, it
depends on if people find it useful enough to go to the effort of
integrating it.  For now, use this calendar if you like it, send
feedback, and we will see about making it official later.<p>

{% endblock body %}



