{% extends "cava/calbase.html" %}
{% block title %}Calender changelog{% endblock title %}

{% block body %}
<h1>All changes within the last 168 hours</h1>

<a href="/cal/">Return to main</a>

<table border=1>
<tr class="header">
  <td>Mod Time</td>
  <td>Shift</td>
  <td>Rank</td>
  <td>Changed by</td>
  <td>From</td>
  <td>To</td>
{% for slot in slots %}
<tr>
  <td class="sidebar">{{slot.prettymtime}}</td>
  <td {% if slot.shift.is_weekend%} class="weekend"{%endif%}>{{ slot.shift.text }} <a href="{% url cal.views.log_shift shift_id=slot.shift_id %}">log</a></td>
  <td>{{ slot.rank.rank }} <a href="{% url cal.views.log_shift shift_id=slot.shift_id, rank_id=slot.rank_id%}">log</a></td>
  <td>{{ slot.prettychanger }}</td>{% comment %}
  <td>{{ slot.name_old_if_different }}</td>
  <td>{{ slot.name_new }}</td>{% endcomment %}
  <td>{{ slot.diffedOld|safe }}</td>
  <td>{{ slot.diffedNew|safe }}</td>
<tr>
{% endfor %}
</tr>
</table>

{% endblock body %}
