{% extends "cava/calbase.html" %}
{% block title %}Log of {{shift.text}} {{ ranktitle }} {% endblock title %}

{% block body %}
<h1>Log of changes to shift {{ shift.text }} {{ ranktitle }}</h1>

<a href="{% url cal.views.redirect_to_now %}">Return to main</a>

<table border=1>
<tr class="header">
  <td>Mod Time</td>
  <td>Shift</td>
  <td>Rank</td>
  <td>Changed by</td>
  <td>From</td>
  <td>To</td>
{% for slot in slots %}
<tr>
  <td class="sidebar">{{slot.prettymtime}}</td>
  <td {% if slot.shift.is_weekend%} class="weekend"{%endif%}>{{ slot.shift.text }}</td>
  <td>{{ slot.rank.rank }}</td>
  <td>{{ slot.prettychanger }}</td>
  <td>{{ slot.name_old_if_different }}</td>
  <td>{{ slot.name_new }}</td>
<tr>
{% endfor %}
</tr>
</table>

{% endblock body %}
